.profile_infomation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    height: 170px;
}

.profile_img {
    margin-left: 250px;
}

.profile_name {
    font-size: 30px;
    font-weight: bold;
    margin-right: 400px;
}

.edit_profile_link {
    /* width: 180px; */
    /* height: 50px; */
    text-decoration: none;
    margin-right: 150px;
    padding: 6px 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ff5555;
    background-color: white;
    border: 3px solid #ff5555;
    border-radius: 10px;
    cursor: pointer;
}

.tab {
    display: flex;
    width: 100%;
    /* height: 50px; */
    border-bottom: 2px solid black;
}
    
.tab_sell {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
    margin-left: 200px;
}

.tab_buy {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: red;
    margin-top: 40px;
    margin-left: 50px;
}

.product_card_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.product_card {
    margin-top: 50px;
    margin-left: 100px;
}

.product_img_wrap,
.product_img {
    width: 200px;
    height: 200px;
    background-color: gray;
    cursor: pointer;
}

.product_name {
    text-decoration: none;
    border: none;
    color: black;
    font-size: 25px;
    margin-top: 0px;
    cursor: pointer;
}